.characterCard {
  width: 40rem;
  min-height: 15rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  color: whitesmoke;
  background: rgb(60, 62, 68);
  gap: 1rem;
  .imageSection {
    img {
      height: 15rem;
      width: 15rem;
      border-top-left-radius: 1.2rem;
      border-bottom-left-radius: 1.2rem;
    }
  }
  .characterDetails {
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .nameSection {
      word-wrap: break-word;
      .name {
        font-size: 1.8rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        &:hover {
          color: rgb(255, 152, 0);
          cursor: pointer;
        }
      }
      .status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.1rem;
        .statusIcon {
          height: 0.6rem;
          width: 0.6rem;
          background: #888888;
          border-radius: 50%;
        }
      }
    }
    .location {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .locationHeader {
        font-size: 1rem;
        color:#888888
      }
      .locationDetail {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .characterCard {
    width: 20rem;
    flex-direction: column;
    .imageSection {
      img {
        height: 20rem;
        width: 20rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1.2rem;
      }
    }
  }
}