.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  gap: 1rem;
  .titleSection {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 100vw;
    height: 12rem;
  }
  .navLinkSection {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    justify-content: right;
    align-items: center;
    height: 3rem;
    width: 100%;
    .navLinkItem {
      padding: 0 2rem;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: rgb(196, 196, 196);
        color: rgb(0, 123, 255);
      }
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .characterHeader {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: aliceblue;
    }
    .subHeader {
      width: 100%;
      background-color: rgb(39, 43, 51);
      display: flex;
      justify-content: space-evenly;
    }
    .cardsSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
    }
    padding: 2rem 0;
    width: 100%;
    min-height: 60rem;
    background-color: rgb(39, 43, 51);
  }
}