.characterPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(39, 43, 51);
  gap: 1rem;
  .characterHeader {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
  }
  .subHeader {
    display: flex;
    justify-content: space-evenly;
  }
  .cardsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
}